
/* Reset and base styles */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Logo styles */
.logo {
  height: 6em;
  padding: 1.5em;
}

/* Card styles */
.card {
  padding: 2em;
}

/* Documentation styles */
.read-the-docs {
  color: #888;
}
